.main-container{
    display: flex;
    flex-direction: column;
    border: black 3px solid;
    justify-content: center;
    width: 240px;
    
}
#display{
    background-color: wheat;
    height: 50px;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    word-wrap: break-word;
}
.operations{
    display: flex;
    flex-direction: column;
}
.button-container{
    display: flex;
    justify-content: center;
    background-color: lightgray;
}

.num-buttons{
    margin: 10px
}

#AC{
    font-size: 20px;;
}

.num{
    font-size: 35px;
    margin: 3px;
    background-color: grey;
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    text-align: center;
}
.operation{
    font-size: 25px;
    background-color: grey;
    border-radius: 8px;
    border-width: 0;
    cursor: pointer;
    text-align: center;
}


.display{
    height: 60px;
    overflow-wrap: break-word;
    
}
.operation{
    width: 40px;
    height: 30px;
    margin: 3px;
}

.zero{
    width: 70px;
}
.dec{
    width: 35px;
}

